<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard Compiler Technologies</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto+Slab:wght@400;700&family=Montserrat:wght@400;600&family=Playfair+Display:wght@400;700&family=Lato:wght@300;400;700&display=swap"
    rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- AOS CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />

  <!-- AOS JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

  <link href="/css/dashboard.css" rel="stylesheet">

</head>


<body>
  <header>
    <nav class="container">
      <div class="logo" style="cursor: pointer;" onclick="window.location.href='/'">Compiler Technologies</div>
      <div id="hamburger" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul id="nav-links" class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="careers">Careers</a></li>
        <li><a href="about">About</a></li>
        <li><a href="" id="logoutButton">Logout</a></li>
        <li><a href="contact">Contact</a></li>


      </ul>
    </nav>
  </header>
  <!-- Dashboard Wrapper -->
  <div class="dashboard">

    </header>
    <!-- Sidebar -->
    <div class="sidebar">
      <h2 class="logo">Dashboard</h2>
      <ul>
        <li><a onclick="showForm('mainresourceForm')">Resource</a></li>
        <li><a onclick="showForm('jobPostingForm')">Job</a></li>
        <li><a onclick="showForm('jobboardupdateForm')">Job Boards</a></li>
        <li><a onclick="showWebsiteAnalytics()">Website Analytics</a></li>
        <li><a onclick="showForm('applicantTable')">Job Application</a></li>
        <li><a onclick="showForm('contactSubmissions')">Contact Query</a></li>

      </ul>
    </div>

    <!-- Dashboard Content -->
    <div class="dashboard-content">

      <!-- Article-->
      <div class="form-container" id="mainresourceForm" style="display: none;">
        <h1>Resource</h1>
        <div>
          <label for="ArticleOption">Select an Action:</label>
          <select id="ArticleOption" onchange="ArticletoggleForm()">
            <option value="none" selected>Select an action</option>
            <option value="add">Add</option>
            <option value="update">Update</option>
            <option value="delete">Delete</option>
          </select>
        </div>

        <div id="addnewArticle" style="display: none;">
          <h3>Add a New Resource</h3>
          <form id="resourceForm" enctype="multipart/form-data">
            <label for="image">Image</label>
            <input type="file" id="image" name="image" accept="image/*" required />
            <label for="alt">Alt Text:</label>
            <input type="text" id="alt" name="alt" placeholder="Enter alt text" required />
            <label for="tag">Tag:</label>
            <input type="text" id="tag" name="tag" placeholder="Enter tag" required />
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="Enter title" required />
            <label for="link">Link:</label>
            <input type="text" id="link" name="link" placeholder="Enter link URL" required />
            <button type="submit">Add Resource</button>
          </form>
        </div>

        <div id="updateResource" style="display: none;">
          <h3>Update Resource</h3>
          <form id="updateResourceForm">
            <label for="title">Title:</label>
            <select id="title" name="resourceId" required>
              <option value="" disabled selected>Select a Resource title</option>
              <% resource.forEach(function(resources) { %>
                <option value="<%= resources._id %>">
                  <%= resources.title %>
                </option>
                <% }); %>
            </select>


            <label for="image">Image:</label>
            <input type="file" id="image" name="image" accept="image/*" />

            <label for="alt">Alt Text:</label>
            <input type="text" id="alt" name="alt" placeholder="Enter alt text" />

            <label for="tag">Tag:</label>
            <input type="text" id="tag" name="tag" placeholder="Enter tag" />

            <label for="link">Link:</label>
            <input type="text" id="link" name="link" placeholder="Enter link URL" />

            <button type="submit">Update Resource</button>
          </form>
        </div>

        <div id="deleteArticle" style="display: none;">
          <h3>Delete Resource</h3>
          <form id="deleteArticleForm">
            <label for="title">Title:</label>
            <select id="deleteArticletitle" name="title" required>
              <option value="" disabled selected>Select a Resource title</option>
              <% resource.forEach(function(resources) { %>
                <option value="<%= resources._id%>">
                  <%= resources.title %>
                </option>
                <% }); %>
            </select>

            <button type="submit">Delete Resource</button>
          </form>
        </div>
      </div>

      <!-- Job -->
      <div class="job-posting-form" id="jobPostingForm" style="display: none;">
        <h1>Jobs</h1>
        <div>
          <label for="jobOption">Select an Action:</label>
          <select id="jobOption" onchange="toggleForm()">
            <option value="none" selected>Select an action</option>
            <option value="add">Add</option>
            <option value="update">Update</option>
            <option value="delete">Delete</option>
          </select>
        </div>

        <div id="addjob" style="display: none;">
          <h3>Post New Job</h3>
          <form id="addjobForm">
            <label for="jobTitle">Job Title<span style="color: red;">*</span></label>
            <input type="text" id="jobTitle" name="jobTitle" placeholder="Enter job title" required />

            <label for="jobLocation">Job Location<span style="color: red;">*</span></label>
            <input type="text" id="jobLocation" name="jobLocation" placeholder="Enter job location" required />

            <label for="jobAbout">About the Role<span style="color: red;">*</span></label>
            <textarea id="jobAbout" name="jobAbout" placeholder="Write a brief description about the role" rows="4"
              required></textarea>

            <label for="jobResponsibilities">Responsibilities<span style="color: red;">*</span></label>
            <textarea id="jobResponsibilities" name="jobResponsibilities"
              placeholder="List job responsibilities (one per line)" rows="6" required></textarea>

            <label for="jobRequirements">Requirements<span style="color: red;">*</span></label>
            <textarea id="jobRequirements" name="jobRequirements" placeholder="List job requirements (one per line)"
              rows="6" required></textarea>

            <label for="jobExperiencelevel">Job Experiencelevel<span style="color: red;">*</span></label>
            <input type="text" id="jobExperiencelevel" name="jobExperiencelevel" placeholder="Enter job Experiencelevel"
              required />

            <label for="jobContractType">job ContractType<span style="color: red;">*</span></label>
            <input type="text" id="jobContractType" name="jobContractType" placeholder="Enter job ContractType"
              required />

            <button type="submit">Post Job</button>
          </form>
        </div>

        <div id="updatejobmain" style="display: none;">
          <h3>Update Job</h3>
          <form id="updatejob">
            <label for="jobTitle">Job Title<span style="color: red;">*</span></label>
            <select id="jobTitle" name="jobTitle" required>
              <option value="" disabled selected>Select a job title</option>
              <% job.forEach(function(job) { %>
                <option value="<%= job._id %>">
                  <%= job.jobTitle %>
                </option>
                <% }); %>
            </select>

            <label for="jobLocation">Job Location<span style="color: red;">*</span></label>
            <input type="text" id="jobLocation" name="jobLocation" placeholder="Enter job location" required />

            <label for="jobAbout">About the Role<span style="color: red;">*</span></label>
            <textarea id="jobAbout" name="jobAbout" placeholder="Write a brief description about the role" rows="4"
              required></textarea>

            <label for="jobResponsibilities">Responsibilities<span style="color: red;">*</span></label>
            <textarea id="jobResponsibilities" name="jobResponsibilities"
              placeholder="List job responsibilities (one per line)" rows="6" required></textarea>

            <label for="jobRequirements">Requirements<span style="color: red;">*</span></label>
            <textarea id="jobRequirements" name="jobRequirements" placeholder="List job requirements (one per line)"
              rows="6" required></textarea>

            <label for="jobExperiencelevel">Job Experiencelevel<span style="color: red;">*</span></label>
            <input type="text" id="jobExperiencelevel" name="jobExperiencelevel" placeholder="Enter job Experiencelevel"
              required />

            <label for="jobContractType">Job ContractType<span style="color: red;">*</span></label>
            <input type="text" id="jobContractType" name="jobContractType" placeholder="Enter job ContractType"
              required />

            <button type="submit">Update Job</button>
          </form>
        </div>

        <div id="deletejobContainer" style="display: none;">
          <h3>Delete Job</h3>
          <form id="deletejobForm">
            <label for="jobTitle">Job Title<span style="color: red;">*</span></label>
            <select id="deletejobTitle" name="jobTitle" required>
              <option value="" disabled selected>Select a job title</option>
              <% job.forEach(function(job) { %>
                <option value="<%= job._id %>">
                  <%= job.jobTitle %>
                </option>
                <% }); %>
            </select>
            <button type="submit">Delete Job</button>
          </form>
        </div>
      </div>


      <!-- job boards -->
      <div class="update-positions-form" id="jobboardupdateForm" style="display: none;">
        <h1>Job Board</h1>
        <div>
          <label for="jobboardOption">Select an Action:</label>
          <select id="jobboardOption" onchange="togglejobboardForm()">
            <option value="none" selected>Select an action</option>
            <option value="add">Add</option>
            <option value="update">Update</option>
            <option value="delete">Delete</option>
          </select>
        </div>
        <div id="updatejobboards" style="display: none;">
          <h3>Update Open Positions</h3>
          <form id="updatepositionsform">
            <label for="category">Select Category:</label>
            <select id="category" name="category" required>
              <% jobboards.forEach((board)=> { %>
                <option value="<%= board.category %>" data-id="<%= board.id %>">
                  <%= board.category %>
                </option>
                <% }); %>
            </select>

            <input type="hidden" id="document-id" name="id" />

            <label for="open-positions">Open Positions:</label>
            <input type="number" id="open-positions" name="openPositions" placeholder="Enter number of positions"
              required />

            <button type="submit">Update JobBoard</button>
          </form>
        </div>



        <div id="addjobboards" style="display: none;">
          <h3>Add JobBoard Field</h3>
          <form id="addjobboardsform">
            <label for="category">Enter Category:</label>
            <input type="text" id="category" name="category" placeholder="Enter category name" required />

            <label for="open-positions">Number of Positions:</label>
            <input type="number" id="open-positions" name="openPositions" placeholder="Enter number of positions"
              required />

            <button type="submit">Add JobBoard</button>
          </form>
        </div>

        <div id="deletejobboards" style="display: none;">
          <h3>Delete JobBoards</h3>
          <form id="deletejobboardsform">
            <label for="category">Select Category:</label>
            <select id="category" name="category" required>
              <option value="" disabled selected>Select a category</option> <!-- Placeholder option -->
              <% jobboards.forEach((board)=> { %>
                <option value="<%= board.category %>" data-id="<%= board._id %>">
                  <%= board.category %>
                </option>
                <% }); %>
            </select>
            <button type="submit">Delete Jobboard</button>
          </form>
        </div>




      </div>

      <div id="applicantTable" class="form-container1" style="display: none;">
        <h1>Job Application</h1>
        <table id="applicantTable">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Resume</th>
              <th>Cover Letter</th>
              <th>Job Title</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="applicantTableBody">
            <!-- Applicant rows will be inserted here -->
          </tbody>
        </table>
      </div>
      <div id="contactSubmissions" class="form-container3" style="display: none;">
        <h1>Contact Query</h1>
        <table id="contactSubmissionTable">
          <thead>
            <tr>
              <th>From Name</th>
              <th>From Email</th>
              <th>Message</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="contactSubmissionTableBody">
            <!-- Contact submission rows will be inserted here -->
          </tbody>
        </table>
      </div>
      
      
      <div id="websiteAnalytics" class="iframe-container" style="display: none;">
        <iframe src="<%= iframeSrc %>" width="100%" height="600px"></iframe>
      </div>

    </div>
  </div>
  </div>


  <!-- Update Resource -->
  <script src="/script/analytics.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </script>
  <script>
    const BASE_URL = "<%= env.BASE_URL %>";
    const PORT = "<%= env.PORT %>";
  </script>


  <script>
    const allJobs = <%- JSON.stringify(submissions || []) %>; // Convert to JSON in template
  </script>
  
  
  
  <script src="/script/dashboard.js"></script>

</body>

</html>